@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

:root {
  --primary-font-color: #ffffff;
  --h2-size: 60px;
}

/* header content style */

.image_stack,
.bg_image {
  height: 350px;
  width: 350px;
}

.image_stack {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.bg_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.top_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
  z-index: 2;
}

.batch {
    z-index: 3;
    position: absolute;
    right: 24px;
    top: 25px;
    color: #1A0B2E;
    background: #00FF88;
    padding: 1px 16px;
    border-radius: 27px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header_content {
  background-image: url("../images/hero-bg.png");
  height: 760px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  padding-top: 101px;
}

.content h2 {
  font-size: 60px;
  font-weight: 800;
  color: #ffffff;
  margin: 40px 0px 8px;
}

.content p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.hero_btn_group {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
}

.hero_btn_group a:first-child {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  padding: 12px 20px;
  border-radius: 100px;
}

.hero_btn_group a:nth-child(2) {
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 12px 20px;
  border-radius: 100px;
}

.hero_btn_group a:first-child i,
.hero_btn_group a:nth-child(2) i {
  font-size: 20px;
  margin-right: 8px;
}

/* about section style */
#about_section {
  height: 646px;
  background: #1a0b2e;
  color: #ffffff;
  padding: 50px 0 40px;
  text-align: center;
}
.about_content{
  margin-bottom: 80px;
}
.about_content h2 {
  font-weight: 700;
  font-size: 48px;
}

.about_content p:first-of-type {
  margin: 16px 0 20px;
  font-weight: 400;
  line-height: 1.8;
}

.about_facts{
  padding: 40px 0;
  border-top: 1px solid #fff;
}

/* choose section style */
#choose_section{
  padding: 120px 0;
}

#choose_section h2:first-child{
  margin-bottom: 40px;
}

.choose_card{
  padding: 40px;
  border-radius: 40px;
}

.choose_card h4{
  margin: 16px 0;
}

/* featured section style */
#featured_section{
  padding: 120px 0;
}

.video_card_content{
  padding: 24px;
}

.video_card_content h3{
  line-height: 1.2;
}
.video_card_content p{
  margin: 12px 0;
}

/* meet the host style */
/* .host_content ul{
  display: flex;
  gap: 8px;
}

.host_content ul li a{
  border: 1px solid #533C72;
  padding: 10px;
  border-radius: 50%;
}*/

/* .host_content ul li a i{
color: linear-gradient(180deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
}  */


/* footer style */
footer{
  background: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white
}